PORT=

BLOCKCHAIN_NETWORK_NAME=
CHAIN_ID=
PROVIDER_HTTPS_URL=

DELAYED_ORDER_CONTRACT=

PYTH_NETWORK_PRICE_SERVCE_URI=
PYTH_NETWORK_ETH_USD_PRICE_ID=

SIGNER_WALLET_PK=
SIGNER_WALLET_ADDRESS=

GRAPH_URL=

MIN_BALANCE_LIMIT=

SLACK_NOTIFICATIONS_ENABLED=
SLACK_CHANNEL=

ORDER_MIN_EXECUTABILITY_AGE=
ORDER_MAX_EXECUTABILITY_AGE=